@font-face {
    font-family: vnyltle;
    src: url(../../../fonts/vnyltle.ttf);
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
}
.service-wrapper .svg-top-container svg, .service-wrapper .svg-bottom-container svg {
    fill: #ffffff;
}
#team .sub-heading {
    color: black !important;
}
.service-icon1 a:before, .service-icon2 a:before, .service-icon3 a:before, .service-icon3 a:before, .service-icon4 a:before, .service-icon5 a:before, .service-icon6 a:before, .service-icon7 a:before, .service-icon8 a:before, .service-icon9 a:before, .service-icon10 a:before, .service-icon11 a:before, .service-icon12 a:before, .service-icon a i{
    font-size: 38px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    background-color: #fff!important;
    border-radius:50%;
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
figure.post-content, .woocommerce .products ul li, .woocommerce ul.products li, figure.team-content, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.image-test img{
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
#ribbon .header-button.left-button, #latest-post span.read-more a, #scroll,.home #contact .leadform-show-form.leadform-lite input[type="submit"]{
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
.service-title{
    margin-top:20px
}
figure.team-content img{
    padding:0;
    max-width:100%;
    margin:auto;
}
figure.team-content figcaption{
    background:rgba(0, 0, 0, 0.6);
}
figure.team-content h3{
    background:transparent;
}

.caption-container {
    opacity: 1!important;
}
.bx-wrapper .bx-pager {
    display: none;
}
section#contact{
    text-align: center;
    float: none !important;
}
#contact .addrs {
    display: none;
}
.cnt-div {
    width: 100% !important;
}
.page-services .service-block {
    display: none;
}
figure.post-content, .woocommerce .products ul li, .woocommerce ul.products li, figure.team-content, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    display: none;
}
figure.post-content figcaption {
    display: none;
}
.footer {
    display: none;
}

@media (min-width: 768px){
    #services .main-heading, #team .main-heading, #latest-post .main-heading, #woo-section .main-heading, #contact .cnt-main-heading{
        color: hsla(0, 0%, 67%, 0.67) !important;
        font-size: 90px;
        font-weight: 500;
        margin: -10px;
        font-family: vnyltle;

    }
    #contact .cnt-main-heading{
        color:#2f2f2f!important;
    }
    #services .sub-heading, #team .sub-heading, #woo-section .sub-heading{
        color:black !important;
        font-size: 25px;
        margin-top: 6%;
    }
    #latest-post .sub-heading {
        font-size: 25px;
        margin-top: 6%;
    }
    #contact .cnt-sub-heading {
        color: #f5f5f5!important;
        font-size: 30px;
    }

    /*button linear gradient input*/
    .home #contact .leadform-show-form.leadform-lite input[type="submit"] {
        background:linear-gradient(135deg, white, grey, black) !important;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        /*font-size: 18px;*/
        line-height: 1em;
        outline: none;
        padding: 15px 20px 15px;
        position: relative;
        font-weight: 700;
        letter-spacing:1px;
    }
    .home #contact .leadform-show-form.leadform-lite input[type="submit"]:before,
    .home #contact .leadform-show-form.leadform-lite input[type="submit"]:after {
        border-color: transparent;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        border-style: solid;
        border-width: 0;
        content: "";
        height: 24px;
        position: absolute;
        width: 15px;
    }

    .home #contact .leadform-show-form.leadform-lite input[type="submit"]:before {
        border-color: white;
        border-top-width: 2px;
        left: 0px;
        top: -5px;
    }

    .home #contact .leadform-show-form.leadform-lite input[type="submit"]:after {
        border-bottom-width: 2px;
        border-color: white;
        bottom: -5px;
        right: 0px;
    }

    .home #contact .leadform-show-form.leadform-lite input[type="submit"]:hover,
    .home #contact .leadform-show-form.leadform-lite input[type="submit"].hover {
        background: linear-gradient(135deg, black, grey, white);
        color: black;
    }

    .home #contact .leadform-show-form.leadform-lite input[type="submit"]:hover:before,
    .home #contact .leadform-show-form.leadform-lite input[type="submit"].hover:before,
    .home #contact .leadform-show-form.leadform-lite input[type="submit"]:hover:after,
    .home #contact .leadform-show-form.leadform-lite input[type="submit"].hover:after {
        height: 100%;
        width: 100%;
    }

    .home #contact .leadform-show-form.leadform-lite input[type="submit"]:before {
        background-color: transparent;
        content: "";
        display: inline-block;
        height: 0px;
        position: absolute;
        vertical-align: middle;
        width: 20%;
        right: auto;
        margin-left: 0;
    }
    .home #contact .leadform-show-form.leadform-lite input[type="submit"]:after {
        background-color: transparent;
        content: "";
        display: inline-block;
        height: 0px;
        position: absolute;
        vertical-align: middle;
        width:20%;
        right: 0em;
        margin-right: 0%;
        left: inherit;
    }
}
@media (min-width: 981px){
    .caption-container h2 {
        font-size: 45px;
        text-transform: uppercase!important;
    }
}
#logo a .custom-logo {
    width: 60px;
    height: 60px;
}
#slider-div h2.title a {
    font-size: 25px;
}
@media (max-width: 1024px) {
    .navigation ul li a, .navigation ul li a:link {
        font-size: 17px !important;
    }
}


